/* :root {
  --bg: #f6f6f7;
  --cardBG: #fff;
  --text: #141414;
  --cardShadow: rgba(0, 0, 0, .07);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #0f1111;
    --cardBG: #1b1e1e;
    --text: #e2e2e2;
    --cardShadow: rgba(0, 0, 0, .4);
  }
} */

/* body,
html {
  background: var(--bg);
  color: var(--text);
} */

body,
html {
  width: 100%;
  margin: 0;
}

#root {
  height: 100vh;

  width: -moz-available;
  width: -webkit-fill-available;
  width: 100%;
  max-width: 100%;

  margin: 0 auto;

  text-align: center;

  display: flex;
  flex-direction: column;

  background-color: light-dark(#1b1e1e, #1b1e1e);

  color-scheme: light dark;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.w-1p {
  min-width: 1%;
}

.space-between {
  justify-content: space-between;
}

.right {
  right: 0;
}

.wide {
  width: 100%;
}

.justifyc-space {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.w-full-vw {
  width: 100vw;
}

.w-full,
.w-100 {
  width: 100%;
}

.h-full,
.h-100 {
  height: 100%;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

.bg-black {
  /* background-color: light-dark(#fff, #000); */
  background-color: #000;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.self-center,
.align-center {
  align-self: center;
}

.content-center {
  justify-content: center;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;

  margin-left: 1em;
  justify-self: center;
  vertical-align: top;

  color: light-dark(#91a4a4, #91a4a4);
}

.h-i {
  height: inherit;
}

.h-12 {
  height: 3rem;
}

.h-24 {
  height: 6rem;
}

.w-12 {
  width: 3rem;
}

.w-24 {
  width: 6rem;
}

.w-28 {
  width: 7rem;
}

.w-32 {
  width: 8rem;
}

.pt-12 {
  font-size: 12px;
}

.pt-24 {
  font-size: 24px;
}

.reset {
  all: unset;
}

#logo {
  align-self: center;
}

.padding-0 {
  padding: 0;
}

.padding-1 {
  padding: 1em;
}

.padding-2 {
  padding: 2em;
}

.padding-3 {
  padding: 3em;
}

.padding-4 {
  padding: 4em;
}

.padding-lr-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.padding-lr-2 {
  padding-left: 2em;
  padding-right: 2em;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-left-2 {
  margin-left: 2em;
}

.margin-left-3 {
  margin-left: 3em;
}

.margin-left-4 {
  margin-left: 4em;
}

.playlist-image {
  aspect-ratio: 1 / 1;
}

.margin-top-1 {
  margin-top: 1em;
}

.margin-top-2 {
  margin-top: 2em;
}

.margin-top-3 {
  margin-top: 3em;
}

.margin-top-4 {
  margin-top: 4em;
}

.margin-right-1 {
  margin-right: 1em;
}

.margin-right-2 {
  margin-right: 2em;
}

.margin-right-3 {
  margin-right: 3em;
}

.margin-right-4 {
  margin-right: 4em;
}

.playlist-title {
  white-space: break-spaces;
  text-overflow: ellipsis;
  font-size: calc(50% + 0.5vw);
  max-width: 100%;
}

.playlist-component {
  white-space: nowrap;
  /* background: var(--cardBG);
  box-shadow: 0 2px 4px var(--cardShadow); */
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-basis-0 {
  flex-basis: 0;
}

.playlist-section {
  background-color: light-dark(#1b1e1e, #1b1e1e);
}

.white {
  color: #fff;
}

.left-align {
  text-align: left;
}

.flex-right {
  justify-content: flex-end;
}

.margin-left-auto {
  margin-left: auto;
}