@import "tailwindcss";

body,
html {
  width: 100%;
  margin: 0;
}

#root {
  height: 100vh;
  width: 100%;
  max-width: 100%;

  margin: 0 auto;

  text-align: center;

  display: flex;
  flex-direction: column;

  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

a {
  text-decoration: none;

  margin-left: 1em;
  justify-self: center;
  vertical-align: top;

  color: var(--text-color);
}