@import "tailwindcss";

@theme {
  --color-primary: #313F4A;
  --color-secondary: #FFFFFF;
  --color-thirdary: #3B3B3B;
  --color-bg1: #3B3B3B;
  --color-bg2: #ECFCD2;
  --color-bg3: #5188FF;
  --color-bg4: #315299;
  --color-bg5: #D9D9D9;
  --color-accent: #4a7deb;

  --radius-md: 15px;
  --radius-lg: 100px;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Fustat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Text smoothing */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* no scroll bar width */
  scrollbar-width: none;
}

[data-theme="dark"] {
  --color-primary: #fcfcfc;
  /* TODO Replace neccessary colors with dark theme. */
}

:root[data-theme="dark"] {
  background-color: #121212;
}

a:hover {
  color: var(--color-accent);
}

@layer defaults {
  button {
    border-radius: 100px;
    cursor: pointer;
  }
}

button:hover {
  border-color: var(--accent-color);
}

@font-face {
  font-family: 'Gamay';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Gamay/Gamay-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Fort';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Fort/Fort-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fort';
  font-style: Bold;
  font-weight: 700;
  src: url('./assets/fonts/Fort/Fort-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fustat';
  src: url('./assets/fonts/Fustat/Fustat-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

/* roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}