:root {
  --bg: #f6f6f7;
  --text: #141414;
  --header-bg: #ffffff;
  --card-bg: #ffffff;
  --accent: #646cff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --bg: #1b1e1e;
  --text: #e2e2e2;
  --header-bg: #000000;
  --card-bg: #1b1e1e;
}

a,
.header {
  font-family: Fort !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  color: var(--accent) !important;
  text-decoration: inherit !important;
  text-transform: none !important;
  transition: color 0.25s !important;
  padding: 0 !important;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--header-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--accent);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --bg: #1b1e1e;
    --text: #e2e2e2;
    --header-bg: #000000;
    --card-bg: #1b1e1e;
  }
}

@font-face {
  font-family: 'Gamay';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Gamay/Gamay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fort';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Fort/Fort-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fort';
  font-style: Bold;
  font-weight: 700;
  src: url('./assets/fonts/Fort/Fort-Bold.ttf') format('truetype');
}

/* roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}
